<%- include("./partials/header.ejs") %>
    <div>
        <form class="create-blog" action="/create" method="post">
            <textarea class="blog-card" name="blog-card" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
<%- include("./partials/footer.ejs") %>