<%- include("./partials/header.ejs") %>
    <div class="create-blog-div textarea-div">
        <form class="create-blog" action="/create" method="post">
            <textarea class="blog-card" name="blog" cols="30" rows="10"></textarea>
            <input  type="submit" class="submit-button buttons" value="Submit">
        </form>
    </div>
<%- include("./partials/footer.ejs") %>